{% extends 'base.html' %} {% block container %}

<main class="container mt-3">
    <section class="my-5 jumbotron jumbotron-fluid">
        <div class="text-center">
            <h1 class="h2 mt-5 m-2">Всякая еда, чтобы кушать.</h1>
            <h2 class="h3">Прилетит к вам сама</h2>
            <p class="pt-4">Доставка дронами</p>
        </div>
    </section>
    {% for category in category_meals %}
    <section>
        <h3 class="my-4">{{category.title}}</h3>
        <div class="row mt-4">
            {% for meal in category_meals[category] %}
            <div class="col-12 col-md-4 ramka">
                <div class="card mb-3">
                    <img src="../static/picture/{{meal.picture}}" width="300" height="200" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="h5 card-title">{{meal.title}}</h4>
                        <p class="card-text">{{meal.description}}</p>
                        <a href="/addtocart/{{meal.id}}" class="btn btn-danger">В корзину</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</main>

{% endblock %}